/* App-wide styles */
body {
    font-family: Arial, sans-serif;
   /* background-color:rgba(212, 206, 137, 0.811); */
   /* background-color:rgb(248,249,250); */

    margin: 0;
    padding: 0;
  }
  
  /* Car List styles */
  .car-list {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Car Container styles */
  .car-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  
  /* Car Card styles */
  .car-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px;
  }
  
  .car-card img {
    max-width: 100%;
    height: auto;
  }

  #pop{
    transition: transform 0.2s ease-in-out;
    
  }
  #pop:hover{
   
    transform: scale(1.08);
  }
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .car-container {
      flex-direction: column;
    }
  
    .car-card {
      width: 100%;
    }
  }
  .input-container {
    position: relative;
    
  }

  input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }

  input:focus + label, input:not(:placeholder-shown) + label {
    top: -10px;
    left: 5px;
    background: white;
    padding: 0 5px;
  }

  label {
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    /* padding: 0 10px; */
    pointer-events: none;
    transition: 0.2s;
  }
  /* Add this to your CSS file */

.custom-navbar {
  background-color: blue; /* Navbar background color */
}
/* Optional: Add custom styles in your List.css */
.user-info {
  display: flex;
  align-items: center;
  color: white;
}

.user-info button {
  color: white;
  padding: 0;
  font-size: 18px;
  text-decoration: none;
  
}

.user-info .react-icons {
  
  margin-right: 10px;
  
}

.table-container {
  width: 80%;
  margin: auto;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
}

.order-table th, .order-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.order-table th {
  background-color: #9f40b7;
  color: white;
}

.order-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.order-table tr:hover {
  background-color: #ddd;
}


/* Optional: If you want to avoid overlapping content on smaller screens */
@media (max-width: 768px) {
  body {
    padding-top: 100px; /* Adjust for smaller screen sizes */
  }
}
